{% include 'header.html' %}
        <article>
            <h1>Concours Gedimagination</h1>
            <p>Bienvenue sur le site du concours Gedimagination développé suite à la collaboration des groupes <b>Gedimat</b> et <b>Interway</b></p>
            <h2>Inscription</h2>
            <p>Vous pouvez vous inscrire au concours dans la section "Inscription" prévue a cet effet<p/>
        </article>
{% include 'footer.html' %}