{% extends 'layout.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% if error %}
<div class="alert alert-danger">
    <strong>Login failed!</strong> {{ error }}
</div>
{% endif %}
<div class="well">
    <form class="form-signin form-horizontal" id="formLogin" role="form" action="tableaudebord?XDEBUG_SESSION_START=vscode" method="post">
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <input type="text" name="login" class="form-control" placeholder="Entrez votre email" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <input type="password" name="mdp" class="form-control" placeholder="Entrez votre mot de passe" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-log-in"></span> Se connecter</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}