body {
    padding-top: 50px;
}

footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    clear: both;
}

.voffset {
    padding-top: 10px;
}

#maParticipation,
.participation {
    width: 100%;
}